/* @import url("../../fonts/TTInterfaces/stylesheet.css");
@import url("../../fonts/NeueMachina/stylesheet.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
